@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
}

.dark {
  --background: 17 24 39;
  /* slate-900 */
  --foreground: 241 245 249;
  /* slate-100 */
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))];
  font-family: var(--font-mooli), system-ui, sans-serif;
}

.section {
  @apply py-16 md:py-24;
}